In [26]:
#libraries import
import pandas as pd
import numpy as np

In [48]:
#Loading datasets
loan_train = pd.read_csv(r"C:/Users/anike/Desktop/DataScience Projects/LinearRegression/loan_data_train.csv")
loan_test = pd.read_csv(r"C:/Users/anike/Desktop/DataScience Projects/LinearRegression/loan_data_test.csv")

In [49]:
loan_train.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years

In [29]:
loan_test.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20093,5000,5000,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13,7686,0,< 1 year
1,62445,18000,18000,60 months,debt_consolidation,4.93%,CA,RENT,5258.50,710-714,6,11596,0,10+ years
2,65248,7200,7200,60 months,debt_consolidation,25.16%,LA,MORTGAGE,3750.00,750-754,13,7283,0,6 years
3,81822,7200,7200,36 months,debt_consolidation,17.27%,NY,MORTGAGE,3416.67,790-794,14,4838,0,10+ years
4,57923,22000,22000,60 months,debt_consolidation,18.28%,MI,MORTGAGE,6083.33,720-724,9,20181,0,8 years

In [30]:
len(loan_train.columns)

15

In [31]:
len(loan_test.columns)

14

In [50]:
#Merging both the train and test dataset 
loan_test["Interest.Rate"] = np.nan
loan_test["data"] = "test"
loan_train["data"] = "train"
loan_test = loan_test[loan_train.columns]
ld_all = pd.concat([loan_train,loan_test],axis = 0)

In [51]:
ld_all.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years,train
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years,train
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year,train
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years,train
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years,train

In [52]:
ld_all.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
data                               object
dtype: object

In [53]:
#Dropping ID,Amount.Funded.By.Investors since it won't help in predicting interest rate
ld_all.drop(["ID","Amount.Funded.By.Investors",],axis = 1,inplace = True)

In [54]:
# Removing the % sign and convert to numeric
ld_all["Interest.Rate"] = ld_all["Interest.Rate"].str.replace("%","")
ld_all["Debt.To.Income.Ratio"] = ld_all["Debt.To.Income.Ratio"].str.replace("%","")

In [55]:
for cols in ["Debt.To.Income.Ratio","Interest.Rate","Open.CREDIT.Lines","Revolving.CREDIT.Balance","Amount.Requested"]:
    ld_all[cols] = pd.to_numeric(ld_all[cols],errors="coerce")

In [56]:
# Taking the average of the FICO range
k = ld_all["FICO.Range"].str.split("-",expand = True).astype(float)

In [57]:
ld_all["FICO"] = 0.5*(k[0] +k[1])
ld_all.drop("FICO.Range",axis=1,inplace = True)

In [58]:
ld_all["Employment.Length"].value_counts()

10+ years    653
< 1 year     249
2 years      243
3 years      235
5 years      202
4 years      191
1 year       177
6 years      163
7 years      127
8 years      108
9 years       72
.              2
Name: Employment.Length, dtype: int64

In [59]:
# Converting the EmploymentLength column into numeric before clening the data
ld_all["Employment.Length"] = ld_all["Employment.Length"].str.replace("years","")
ld_all["Employment.Length"] = ld_all["Employment.Length"].str.replace("year","")
ld_all["Employment.Length"] = np.where(ld_all["Employment.Length"].str[:2]=="10",10,ld_all["Employment.Length"])
ld_all["Employment.Length"] = np.where(ld_all["Employment.Length"].str[0]=="<",0,ld_all["Employment.Length"])
ld_all["Employment.Length"] = pd.to_numeric(ld_all["Employment.Length"],errors="coerce")

In [62]:
#Removing the last column as we don't want to create dummy variables for data column
cat_cols = ld_all.select_dtypes(["object"]).columns[:-1]
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership'], dtype='object')

In [63]:
#Creating dummy values for categorical variables but with minimum freq over 20 obeservations
for cols in cat_cols:
    freq = ld_all[cols].value_counts()
    k = freq.index[freq>20][:-1]
    for cat in k:
        name = cols + "_" + cat
        ld_all[name] = (ld_all[cols]==cat).astype(int)
    del ld_all[cols]

In [64]:
ld_all.shape

(2500, 51)

In [65]:
ld_all.head()

,Amount.Requested,Interest.Rate,Debt.To.Income.Ratio,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data,FICO,...,State_MO,State_NV,State_OR,State_SC,State_WI,State_KY,State_LA,State_KS,Home.Ownership_MORTGAGE,Home.Ownership_RENT
0,25000.0,18.49,27.56,8606.56,11.0,15210.0,3.0,5.0,train,722.0,...,0,0,0,0,0,0,0,0,1,0
1,19750.0,17.27,13.39,6737.50,14.0,19070.0,3.0,4.0,train,712.0,...,0,0,0,0,0,0,0,0,1,0
2,2100.0,14.33,3.50,1000.00,13.0,893.0,1.0,0.0,train,692.0,...,0,0,0,0,0,0,1,0,0,0
3,28000.0,16.29,19.62,7083.33,12.0,38194.0,1.0,10.0,train,712.0,...,0,1,0,0,0,0,0,0,1,0
4,24250.0,12.23,23.79,5833.33,6.0,31061.0,2.0,10.0,train,732.0,...,0,0,0,0,0,0,0,0,1,0

In [66]:
#Checking for null values in dataset
ld_all.isnull().sum()

Amount.Requested                     5
Interest.Rate                      300
Debt.To.Income.Ratio                 1
Monthly.Income                       3
Open.CREDIT.Lines                    9
Revolving.CREDIT.Balance             5
Inquiries.in.the.Last.6.Months       3
Employment.Length                   80
data                                 0
FICO                                 0
Loan.Length_36 months                0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_AL                             0
State_MN                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_KS                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

In [67]:
#Replacing null vaues with mean besides INterest Rate and data columns
for col in ld_all.columns:
    if (col not in ["Interest.Rate","data"]) & (ld_all[col].isnull().sum()>0):
        ld_all.loc[ld_all[col].isnull(),col] = ld_all.loc[ld_all["data"]=="train",col].mean()

In [68]:
ld_all.isnull().sum()

Amount.Requested                   0
Interest.Rate                      0
Debt.To.Income.Ratio               0
Monthly.Income                     0
Open.CREDIT.Lines                  0
Revolving.CREDIT.Balance           0
Inquiries.in.the.Last.6.Months     0
Employment.Length                  0
data                               0
FICO                               0
Loan.Length_36 months              0
Loan.Purpose_debt_consolidation    0
Loan.Purpose_credit_card           0
Loan.Purpose_other                 0
Loan.Purpose_home_improvement      0
Loan.Purpose_major_purchase        0
Loan.Purpose_small_business        0
Loan.Purpose_car                   0
Loan.Purpose_wedding               0
Loan.Purpose_medical               0
Loan.Purpose_moving                0
State_CA                           0
State_NY                           0
State_TX                           0
State_FL                           0
State_IL                           0
State_GA                           0
State_PA                           0
State_NJ                           0
State_VA                           0
State_MA                           0
State_OH                           0
State_MD                           0
State_NC                           0
State_CO                           0
State_WA                           0
State_CT                           0
State_AZ                           0
State_MI                           0
State_AL                           0
State_MN                           0
State_MO                           0
State_NV                           0
State_OR                           0
State_SC                           0
State_WI                           0
State_KY                           0
State_LA                           0
State_KS                           0
Home.Ownership_MORTGAGE            0
Home.Ownership_RENT                0
dtype: int64

In [69]:
#Splitting the datasets to train and test
ld_train = ld_all[ld_all["data"]=="train"]
del ld_train["data"]
ld_test =  ld_all[ld_all["data"]=="test"]
ld_test.drop(["Interest.Rate","data"],axis=1,inplace=True)

C:\Users\anike\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [70]:
del ld_all

In [71]:
from sklearn.model_selection import train_test_split

In [72]:
#Splitting the dataset into 80:20 Test-Train Dataset
ld_train1, ld_train2 = train_test_split(ld_train,test_size = 0.2,random_state=2)

In [73]:
x_train1 = ld_train1.drop(["Interest.Rate"],axis=1)
y_train1 = ld_train1["Interest.Rate"]

In [74]:
from sklearn.linear_model import LinearRegression

In [75]:
#Applying linnear Regression
lm = LinearRegression()

In [76]:
lm.fit(x_train1,y_train1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [77]:
lm.intercept_

75.9212141359478

In [78]:
list(zip(x_train1.columns,lm.coef_))

[('Amount.Requested', 0.00015602405153877186),
 ('Debt.To.Income.Ratio', -0.003938504173777158),
 ('Monthly.Income', -2.6568573569170736e-05),
 ('Open.CREDIT.Lines', -0.039922608340240945),
 ('Revolving.CREDIT.Balance', -3.923647858838919e-06),
 ('Inquiries.in.the.Last.6.Months', 0.3361172111313311),
 ('Employment.Length', 0.0349936718945103),
 ('FICO', -0.08667701121950822),
 ('Loan.Length_36 months', -3.143747246950592),
 ('Loan.Purpose_debt_consolidation', -0.46739356903559237),
 ('Loan.Purpose_credit_card', -0.6069873604061792),
 ('Loan.Purpose_other', 0.44417142270192733),
 ('Loan.Purpose_home_improvement', -0.3611899849181419),
 ('Loan.Purpose_major_purchase', -0.09589524932665638),
 ('Loan.Purpose_small_business', 0.06800548772823811),
 ('Loan.Purpose_car', 0.025259628036013893),
 ('Loan.Purpose_wedding', -0.779154265005644),
 ('Loan.Purpose_medical', -0.4281152109954953),
 ('Loan.Purpose_moving', 1.2845276544595716),
 ('State_CA', -0.21159715256759293),
 ('State_NY', -0.12777976346385944),
 ('State_TX', 0.4656519996969049),
 ('State_FL', 0.08536509194007688),
 ('State_IL', -0.6478521077890976),
 ('State_GA', -0.028715232683424435),
 ('State_PA', -0.5531491923550254),
 ('State_NJ', -0.4252715824292991),
 ('State_VA', -0.1900182794302424),
 ('State_MA', 0.09032034036316791),
 ('State_OH', -0.36139403402199943),
 ('State_MD', -0.0166147969097057),
 ('State_NC', -0.3012520492515626),
 ('State_CO', -0.05643938739112131),
 ('State_WA', -0.24431943682020324),
 ('State_CT', 0.4450659067910986),
 ('State_AZ', 0.2647218526843679),
 ('State_MI', -0.1581658355736979),
 ('State_AL', -0.32176623527151654),
 ('State_MN', -0.07658290397396375),
 ('State_MO', -0.4320941840325308),
 ('State_NV', -0.12433340941261034),
 ('State_OR', 0.1202482945947619),
 ('State_SC', 0.02477134526043881),
 ('State_WI', -0.16506920267021277),
 ('State_KY', 0.2692286032568502),
 ('State_LA', -0.0487968799518559),
 ('State_KS', 0.2442429179644846),
 ('Home.Ownership_MORTGAGE', -0.4927899396352776),
 ('Home.Ownership_RENT', -0.22835804629261117)]

In [79]:
x_train2 = ld_train2.drop(["Interest.Rate"],axis=1)

In [80]:
predicted = lm.predict(x_train2)

In [81]:
from sklearn.metrics import mean_absolute_error

In [82]:
mean_absolute_error(predicted,ld_train2["Interest.Rate"])

1.6278267948887137

In [84]:
predicted = lm.predict(ld_test)

In [99]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [86]:
test_pred = lm.predict(ld_test)

In [87]:
pd.DataFrame(test_pred).to_csv("Prediction.csv",index = False)