In [1]:
#importing libraries
import numpy as np 
import pandas as pd

In [11]:
#imporing datasets
bd_train = pd.read_csv("C:/Users/anike/Desktop/DataScience Projects/rg_train.csv")
bd_test = pd.read_csv("C:/Users/anike/Desktop/DataScience Projects/rg_test.csv")

In [12]:
#Merginf both the datasets in oreder to apply data processing together
bd_test["Revenue.Grid"] = np.nan
bd_train["data"] = "train"
bd_test["data"] = "test"
bd_test = bd_test[bd_train.columns]
bd_all = pd.concat([bd_train,bd_test],axis=0)

In [13]:
bd_all.head()

,REF_NO,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,...,Home.Loan,Online.Purchase.Amount,Revenue.Grid,gender,region,Investment.in.Commudity,Investment.in.Equity,Investment.in.Derivative,Portfolio.Balance,data
0,2148,1,45-50,Partner,Professional,Professional,Rent Privately,">=35,000",Yes,Yes,...,2.48,0.0,2.0,Female,South West,65.87,9.27,30.93,87.48,train
1,8099,1,61-65,Partner,Retired,Retired,Own Home,"<12,500, >=10,000",No,No,...,3.99,0.0,2.0,Female,Unknown,42.46,4.49,26.23,110.73,train
2,6611,3,31-35,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,0.0,2.0,Male,East Anglia,75.38,0.00,26.66,127.57,train
3,1950,Zero,55-60,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,0.0,2.0,Female,North West,34.78,6.91,29.24,33.79,train
4,10857,2,51-55,Partner,Manual Worker,Manual Worker,Own Home,"<27,500, >=25,000",Yes,Yes,...,0.00,0.0,2.0,Female,South West,48.58,9.58,20.65,56.17,train

In [14]:
list(zip(bd_all.columns,bd_all.dtypes,bd_all.nunique()))

[('REF_NO', dtype('int64'), 10155),
 ('children', dtype('O'), 5),
 ('age_band', dtype('O'), 13),
 ('status', dtype('O'), 5),
 ('occupation', dtype('O'), 9),
 ('occupation_partner', dtype('O'), 9),
 ('home_status', dtype('O'), 5),
 ('family_income', dtype('O'), 13),
 ('self_employed', dtype('O'), 2),
 ('self_employed_partner', dtype('O'), 2),
 ('year_last_moved', dtype('int64'), 95),
 ('TVarea', dtype('O'), 14),
 ('post_code', dtype('O'), 10040),
 ('post_area', dtype('O'), 2039),
 ('Average.Credit.Card.Transaction', dtype('float64'), 1411),
 ('Balance.Transfer', dtype('float64'), 2183),
 ('Term.Deposit', dtype('float64'), 1419),
 ('Life.Insurance', dtype('float64'), 3111),
 ('Medical.Insurance', dtype('float64'), 1589),
 ('Average.A.C.Balance', dtype('float64'), 2223),
 ('Personal.Loan', dtype('float64'), 1760),
 ('Investment.in.Mutual.Fund', dtype('float64'), 2470),
 ('Investment.Tax.Saving.Bond', dtype('float64'), 832),
 ('Home.Loan', dtype('float64'), 884),
 ('Online.Purchase.Amount', dtype('float64'), 1319),
 ('Revenue.Grid', dtype('float64'), 2),
 ('gender', dtype('O'), 3),
 ('region', dtype('O'), 13),
 ('Investment.in.Commudity', dtype('float64'), 3558),
 ('Investment.in.Equity', dtype('float64'), 3250),
 ('Investment.in.Derivative', dtype('float64'), 3796),
 ('Portfolio.Balance', dtype('float64'), 8317),
 ('data', dtype('O'), 2)]

In [15]:
bd_all.drop(["REF_NO","post_code","post_area"],axis=1,inplace=True)

In [16]:
bd_all["children"].value_counts()

Zero    6208
1       1848
2       1607
3        473
4+        19
Name: children, dtype: int64

In [17]:
#Converting children column into numeric before cleaning the data
bd_all["children"]=np.where(bd_all["children"]=="Zero",0,bd_all["children"])
bd_all["children"]=np.where(bd_all["children"][:1]=="4",4,bd_all["children"])
bd_all["children"]=pd.to_numeric(bd_all["children"],errors="coerce")

In [19]:
bd_all["Revenue.Grid"]=(bd_all["Revenue.Grid"]==1).astype(int)

In [20]:
cat_cols = bd_all.select_dtypes(["object"]).columns
cat_cols

Index(['age_band', 'status', 'occupation', 'occupation_partner', 'home_status',
       'family_income', 'self_employed', 'self_employed_partner', 'TVarea',
       'gender', 'region', 'data'],
      dtype='object')

In [21]:
for col in cat_cols[:-1]:
    dummy = pd.get_dummies(bd_all[col],drop_first = True, prefix = col)
    bd_all = pd.concat([bd_all,dummy],axis=1)
    del bd_all[col]
    print(col)
del dummy

age_band
status
occupation
occupation_partner
home_status
family_income
self_employed
self_employed_partner
TVarea
gender
region

In [22]:
bd_all.shape

(10155, 96)

In [23]:
bd_all.head()

,children,year_last_moved,Average.Credit.Card.Transaction,Balance.Transfer,Term.Deposit,Life.Insurance,Medical.Insurance,Average.A.C.Balance,Personal.Loan,Investment.in.Mutual.Fund,...,region_Isle of Man,region_North,region_North West,region_Northern Ireland,region_Scotland,region_South East,region_South West,region_Unknown,region_Wales,region_West Midlands
0,1.0,1999,0.00,0.00,196.95,132.42,0.00,0.00,21.47,24.18,...,0,0,0,0,0,0,1,0,0,0
1,1.0,1959,0.00,77.89,0.00,134.39,0.00,7.99,14.98,0.00,...,0,0,0,0,0,0,0,1,0,0
2,3.0,1992,119.98,0.00,96.94,0.00,159.97,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
3,0.0,1990,0.00,39.99,0.00,133.93,0.00,39.48,0.00,0.00,...,0,0,1,0,0,0,0,0,0,0
4,2.0,1994,0.00,161.47,14.99,58.97,7.49,57.46,0.00,0.00,...,0,0,0,0,0,0,1,0,0,0

In [24]:
bd_all.isnull().sum()

children                           19
year_last_moved                     0
Average.Credit.Card.Transaction     0
Balance.Transfer                    0
Term.Deposit                        0
Life.Insurance                      0
Medical.Insurance                   0
Average.A.C.Balance                 0
Personal.Loan                       0
Investment.in.Mutual.Fund           0
Investment.Tax.Saving.Bond          0
Home.Loan                           0
Online.Purchase.Amount              0
Revenue.Grid                        0
Investment.in.Commudity             0
Investment.in.Equity                0
Investment.in.Derivative            0
Portfolio.Balance                   0
data                                0
age_band_22-25                      0
age_band_26-30                      0
age_band_31-35                      0
age_band_36-40                      0
age_band_41-45                      0
age_band_45-50                      0
age_band_51-55                      0
age_band_55-60                      0
age_band_61-65                      0
age_band_65-70                      0
age_band_71+                        0
                                   ..
family_income_Unknown               0
self_employed_Yes                   0
self_employed_partner_Yes           0
TVarea_Border                       0
TVarea_Carlton                      0
TVarea_Central                      0
TVarea_Grampian                     0
TVarea_Granada                      0
TVarea_HTV                          0
TVarea_Meridian                     0
TVarea_Scottish TV                  0
TVarea_TV South West                0
TVarea_Tyne Tees                    0
TVarea_Ulster                       0
TVarea_Unknown                      0
TVarea_Yorkshire                    0
gender_Male                         0
gender_Unknown                      0
region_East Anglia                  0
region_East Midlands                0
region_Isle of Man                  0
region_North                        0
region_North West                   0
region_Northern Ireland             0
region_Scotland                     0
region_South East                   0
region_South West                   0
region_Unknown                      0
region_Wales                        0
region_West Midlands                0
Length: 96, dtype: int64

In [25]:
bd_all.loc[bd_all["children"].isnull(),"children"]=bd_all.loc[bd_all["data"]=="train","children"].mean()

In [30]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

In [32]:
bd_train = bd_all[bd_all["data"]=="train"]
del bd_train["data"]
bd_test = bd_all[bd_all["data"]=="test"]
bd_test.drop(["Revenue.Grid","data"],axis =1,inplace =True)

C:\Users\anike\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [36]:
params = {"class_weight":["balanced",None],
         "penalty": ["l1","l2"],
         "C":np.linspace(0.01,1000,10)}

In [28]:
model = LogisticRegression(fit_intercept=True)

In [37]:
grid_search = GridSearchCV(model,param_grid=params,cv=5,scoring="roc_auc")

In [34]:
x_train = bd_train.drop(["Revenue.Grid"],axis = 1)
y_train = bd_train["Revenue.Grid"]

In [38]:
grid_search.fit(x_train,y_train)

GridSearchCV(cv=5, error_score='raise',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'class_weight': ['balanced', None], 'penalty': ['l1', 'l2'], 'C': array([1.0000e-02, 1.1112e+02, 2.2223e+02, 3.3334e+02, 4.4445e+02,
       5.5556e+02, 6.6667e+02, 7.7778e+02, 8.8889e+02, 1.0000e+03])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='roc_auc', verbose=0)

In [39]:
grid_search.best_estimator_

LogisticRegression(C=0.01, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l1', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [42]:
logr = grid_search.best_estimator_

In [43]:
logr.fit(x_train,y_train)

LogisticRegression(C=0.01, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l1', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [41]:
cutoffs = np.linspace(0.01,0.99,99)

In [45]:
train_score = logr.predict_proba(x_train)[:,1]
real = y_train

In [47]:
KS_all=[]
for cutoff in cutoffs:
    predicted = (train_score>cutoff).astype(int)
    TP = ((predicted ==1) & (real==1)).sum()
    TN = ((predicted ==0) & (real==0)).sum()
    FP = ((predicted ==1) & (real==0)).sum()
    FN = ((predicted ==0) & (real==1)).sum()
    
    P = TP+FN
    N = TN+FP
    KS= (TP/P)-(FP/N)
    KS_all.append(KS)

In [51]:
mycutoff = cutoffs[KS_all==max(KS_all)][0]
mycutoff

0.5

In [53]:
test_score = logr.predict_proba(bd_test)[:,1]

In [54]:
test_classes = (test_score>mycutoff).astype(int)

In [56]:
pd.DataFrame(test_classes).to_csv("Predictions.csv",index=False)